altgraph
annotated-types
anyio
black
certifi
charset-normalizer
click
cohere
colorama
dotenv
fastapi
fastavro
filelock
fsspec
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
mypy_extensions
packaging
pathspec
pefile
platformdirs
pydantic
pydantic_core
pyinstaller
pyinstaller-hooks-contrib
python-dotenv
pywin32-ctypes
PyYAML
requests
setuptools
sniffio
starlette
tokenizers
tqdm
types-requests
typing-inspection
typing_extensions
urllib3
uvicorn
